$dark: #333;
$mainColor: #dc022e;

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-family: 'Arial' sans-serif;
	color: #3a3a3a;
}

header {
	height: 100px;
	padding: 25px;
	background: $dark;
}

nav {
	display: none;
	position: absolute;
	width: 100%;
	left: 0;
	top: 101px;
	background-color: #333;
	z-index: 999999999;
	&.show {
		display: block;
	}
	a {
		position: relative;
		display: block;
		padding: 1em;
		text-decoration: none;
		font-size: 1em;
		line-height: 30px;
		text-align: center;
		color: #fff;
		&:after {
			content: '';
			position: absolute;
			left: 50%;
			bottom: 0;
			width: 150px;
			height: 5px;
			max-width: 100%;
			background: #fff;
			opacity: 0;
			transform: translateX(-50%);
			transition: opacity 0.275s ease-in-out;
		}
		&.active:after {
			opacity: 1;
		}
	}
}

main {
	overflow: auto;
}

h1,
h2, 
h3 {
	font-weight: normal;
}
h1 {
	position: relative;
	display: inline-block;
	padding: 7px 10px;
	margin-bottom: 0.5em;
	font-size: 3.75em;
	background: $mainColor;
	color: #fff;
	&:before {
		content: "";
		position: absolute;
		left: 30px;
		bottom: -16px;
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 17px solid $mainColor;
	}
}
h2 {
	font-size: 2.25em;
	color: #000;
}

h3 {
	font-size: 1.6em;
	margin: 0.5em 0;
}

img {
	max-width: 100%;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.container {
	width: 100%;
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}
.heading {
	border-bottom: 1px solid #c9c9c9;
}
.toggle-menu {
	position: absolute;
	right: 35px;
	top: 15px;
	font-size: 3em;
	color: #fff;
}
.box {
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
	img {
		width: 100%;
	}
	a {
		text-decoration: none;
		font-size: 1.3125em;
		color: #fff;
	}
}

.box__info {
	position: absolute;
	bottom: 0;
	left: 15px;
	right: 15px;
	padding: 30px 15px 15px;
	color: #fff;
	overflow: hidden;
	z-index: 0;
	&:before {
		content: '';
		position: absolute;
		bottom: -100%;
		left: -20%;
		width: 130%;
		height: 200%;
		border-radius: 100%;
		background: rgba($mainColor, .85);
		z-index: -1;
	}
}
.flickr {
	margin-top: 30px;

	&__title {
		@extend h1;
		&:before {
			content: none;
		}
	}
	&__pics {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-flow: row wrap;
		text-align: center;
		background: #c9c9c9;
		> div {

			display: inline-block;
			margin: 15px;
			border: 4px solid transparent;
		}
		.selected {
			border: 4px solid $mainColor;
			img {
				opacity: 1;
			}
		}
		img {
			display: block;
			margin: 0;
			opacity: .7;
		}
	}
}

.row {
	margin: 0 -15px;	
}

[class^=col] {
	display: block;
	padding: 0 15px;
	width: 100%;
}

@media (min-width: 998px) {
	
	[class^=col] {
		float: left;
	}
	.col__1-2 {
		width: 50%;
	}
	h3 {
		font-size: 2em;
		margin: 1em 0;
	}
	nav {
		display: block;
		float: right;
		position: static;
		width: auto;
		li {
			float: left;
		}
		a {
			&:hover:after {
				opacity: 1;
			}
		}
	}
	.toggle-menu {
		display: none;
	}
	.logo {
		float: left;
	}
	.box {
		li {
			display: block;
		}
		a {
			&:after {
				content: '';
				display: inline-block;
				position: relative;
				top: 0.1em;
				margin-left: 0.7em;
				width: 10px;
				height: 1em;
				background: url(../img/icon-arrow.png) 0 0 no-repeat;
				opacity: 0;
				transition: opacity 0.275s ease-in-out;
			}
			&:hover {
				&:after {
					opacity: 1;
				}
			}
		}
	}
	.box__info { 
		padding: 30px;
	}
}