$dark: #333;
$mainColor: #dc022e;

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-family: 'Arial' sans-serif;
	color: #3a3a3a;
}

header {
	height: 100px;
	padding: 25px;
	background: $dark;
}

nav {	
	a {
		padding: 1em;
		text-decoration: none;
		font-size: 1em;
		line-height: 50px;
		color: #fff;
	}
}

main {
	overflow: auto;
}

h1,
h2, 
h3 {
	font-weight: normal;
}
h1 {
	position: relative;
	display: inline-block;
	padding: 7px 10px;
	margin-bottom: 0.5em;
	font-size: 3.75em;
	background: $mainColor;
	color: #fff;
	&:before {
		content: "";
		position: absolute;
		left: 30px;
		bottom: -16px;
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 17px solid $mainColor;
	}
}
h2 {
	font-size: 2.25em;
	color: #000;
}

h3 {
	font-size: 2em;
}

img {
	max-width: 100%;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.container {
	width: 100%;
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}
.heading {
	border-bottom: 1px solid #c9c9c9;
}

.box {
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
	img {
		width: 100%;
	}
	a {
		text-decoration: none;
		font-size: 1.3125em;
		color: #fff;
	}
}

.box__info {
	position: absolute;
	bottom: 0;
	left: 15px;
	right: 15px;
	padding: 30px;
	color: #fff;
	overflow: hidden;
	z-index: 0;
	&:before {
		content: '';
		position: absolute;
		bottom: -100%;
		left: -20%;
		width: 130%;
		height: 200%;
		border-radius: 100%;
		background: rgba($mainColor, .85);
		z-index: -1;
	}
}
.flickr {
	margin-top: 30px;

	&__title {
		@extend h1;
		&:before {
			content: none;
		}
	}
	&__pics {
		text-align: center;
		img {
			display: inline-block;
			margin: 15px;
		}
	}
}

.row {
	margin: 0 -15px;	
}

[class^=col] {
	display: block;
	padding: 0 15px;
	width: 100%;
}

@media (min-width: 1024px) {
	
	[class^=col] {
		float: left;
	}
	.col__1-2 {
		width: 50%;
	}
	nav {
		float: right;
		li {
			float: left;
		}
		a {
			border-bottom: 4px solid transparent;
			&.active {
				border-bottom: 4px solid currentColor;
			}
			&:hover {
				border-color: currentColor;
			}
		}
	}
	.logo {
		float: left;
	}
	.box {
		li {
			display: block;
		}
		a {
			&:after {
				content: '';
				display: inline-block;
				position: relative;
				top: 0.1em;
				margin-left: 0.7em;
				width: 10px;
				height: 1em;
				background: url(../img/icon-arrow.png) 0 0 no-repeat;
				opacity: 0;
				transition: opacity 0.275s ease-in-out;
			}
			&:hover {
				&:after {
					opacity: 1;
				}
			}
		}
	}
}